.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-image: url('https://www.kindpng.com/picc/m/12-126575_colorful-sound-wave-png-transparent-png.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
